<%= recipient.name %> has agreed to give you a ride, yay!
<br>
To see the ride status, follow this link: <a href=<%= 'http://rideas.one/#/notifications/id/'+ notification._id  %>><%= 'http://rideas.one/#/notifications/id/'+ notification._id  %></a>


