
<div id="mobile" class="panel center small text-center">
  <div class="row">
    <div class="col-md-6">
      <i class="fa fa-apple fa-5x" aria-hidden="true"></i>
      <h2>iPhone</h2>
      For iOS cellphones please send an email <br>
      to <a href="mailto:projas@nearsoft.com">projas@nearsoft.com</a>
    </div>
    <div class="col-md-6">
      <i class="fa fa-android fa-5x" aria-hidden="true"></i>
      
      <h2>Android</h2>
      <p class="text-left">You can download the latest apk file <a href="">here</a></p>
      <div class="text-left">
        <p>To install the software:</p>
        <ul>
          <li>Download it directly form your phone</li>
          <li>Open it from the browser</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="feedback">
    Any feedback is welcome please send it to <a href="mailto:rideasone@nearsoft.com">rideasone@nearsoft.com</a> 
  </div>
  

  
</div>
