
You have a new ride request, follow this link to accept or reject it: <a href=<%= "http://rideas.one/#/notifications/id/" + notification._id %>><%= "http://rideas.one/#/notifications/id/" + notification._id %></a>

