
<%= recipient.name %> has declined your ride request.
<br>
for mor details, follow this link: <a href=<%= 'http://rideas.one/#/notifications/id/'+ notification._id  %>><%= 'http://rideas.one/#/notifications/id/'+ notification._id  %></a>


